name: Update Commercial Store API

on:
  workflow_call:
    inputs:
      shopware_version:
        description: "Shopware version"
        required: true
        type: string
        
env:
  PLUGIN_NAME: SwagCommercial
  PLUGIN_URL: gitlab.shopware.com/shopware/6/product/commercial.git

# A workflow run is made up of one or more jobs that can run sequentially or in parallel 
jobs:
  vars:
    runs-on: ubuntu-22.04
    outputs:
      PLUGIN_NAME: ${{ env.PLUGIN_NAME }}
      PLUGIN_URL: ${{ env.PLUGIN_URL }}
    steps:
      - run: echo "Exposing env vars"
  # This workflow contains a single job called "build"
  generate-schema:
    needs: vars
    uses: shopware/docs-ci/.github/workflows/generate_schema.yml@main
    with:
      schema_flags: ''
      schema_file: ${{ needs.vars.outputs.PLUGIN_NAME }}-adminapi.json
      plugin_name: ${{ needs.vars.outputs.PLUGIN_NAME }}
      plugin_url: ${{ needs.vars.outputs.PLUGIN_URL }}
      git_options: '-b 6.5.x'
      shopware_version: ${{ inputs.shopware_version }}
    secrets: inherit
  open-pr:
    name: "Open a pull request"
    runs-on: ubuntu-latest
    needs: [generate-schema,vars]
    steps:
    - name: Checkout
      uses: actions/checkout@v3

    - name: download api schema
      uses: actions/download-artifact@v3
      with:
        name: ${{needs.generate-schema.outputs.api_schema}}

    - name: install yq
      uses: cachix/install-nix-action@v18

    - name: Prettify
      run: |
        sudo apt-get update
        sudo apt-get install -y moreutils
        jq . ${{ needs.vars.outputs.PLUGIN_NAME }}-adminapi.json | sponge ${{ needs.vars.outputs.PLUGIN_NAME }}-adminapi.json
        ./.github/scripts/find_delta_paths.sh ${{ needs.vars.outputs.PLUGIN_NAME }}

    - name: Create DSR PR
      uses: peter-evans/create-pull-request@v4
      with:
        add-paths: ${{ needs.vars.outputs.PLUGIN_NAME }}-adminapi.json
        author: shopwareBot <example@example.com>
        committer: shopwareBot <example@example.com>
        assignees: Isengo1989, sushmangupta, bojanrajh
        branch: ${{ needs.vars.outputs.PLUGIN_NAME }}-schema-update
        delete-branch: true
        title: 'Update ${{ needs.vars.outputs.PLUGIN_NAME }} admin API schema'
